.avatarbox {
    width: 180px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 60px;
}

.promiseinfo {
    .text {
        line-height: 40px;
        font-size: 30px;
        font-style: italic;
    }

    .creator {
        padding: 10px 0;
        font-weight: bold;
    }
}
