.avatarbox {
    width: 180px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}

.supporters {
    h4 {
        padding-bottom: 10px;
    }

    .supportit {
        margin-bottom: 20px;
        .first {
            width: 180px;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
    }

    li {
        display: block;
        float: left;
        margin: 0 15px 10px 0;
    }
}

.promiseinfo {
    .text {
        line-height: 40px;
        font-size: 30px;
        font-style: italic;
    }

    .creator {
        padding: 10px 0;
        font-weight: bold;
    }
}
