
.navbar {
    .brand {
        .transition(all 200ms);

        font-family: "Courgette";
        color: #F3F3F3;
        text-shadow: 1px 1px #440303;

        &:hover {
            color: #fff;
        }

        &:active {
            padding: 9px 0 0 21px;
        }
    }

    .nav {
        > li > a:hover {
            background-color: #CE2E2E;
            box-shadow:
                inset 1px 0 2px rgba(0, 0, 0, 0.2),
                inset -1px 0 2px rgba(0, 0, 0, 0.2);
        }
    }
}
