.promise {
    .clearfix();
    padding: 20px;
    margin-top: 20;
    border-top: 1px solid #eee;

    &:first-child {
        margin-top: 0;
        border-top: 0;
    }

    blockquote {
        font-size: 20px;
        font-weight: 200;
    }
}

.promise-image {
    float: left;

    img {
        width: 80px;
    }
}

.promise-content {
    margin-left: 100px;
}
