@linkColor: #B81F1F;
@lightLinkColor: lighten(@linkColor, 30%);
@lighterLinkColor: lighten(@linkColor, 45%);

:focus::-webkit-input-placeholder {
    opacity: 0.5;
}
:focus:-moz-input-placeholder {
    opacity: 0.5;
}

