{% load social %}
{% load promise %}

<ul class="unstyled">
{% for promise in promises %}
    <li class="promise promise-small">
        <div class="promise-image">
            <img src="{{ promise.creator.avatar }}" alt="Avatar from {{ promise.creator }}">
        </div>

        <div class="promise-content">
            {% if promise.supporter.count %}
            <div class="promise-supporters-counter">
                <p class="promise-supporters-counter-number">{{ promise.supporter.count }}</p>
                <p class="promise-supporters-counter-text">supporter{{ promise.supporter.count|pluralize }}</p>
            </div>
            {% endif %}

            <p><strong>{{ promise.creator }}</strong> promised:</p>
            <blockquote><a href="{% url promise promise.slug %}">{{ promise.text }}</a></blockquote>
            <p><i class="icon-time"></i> {{ promise.deadline|timeuntil }} left</p>

            {% userpromise promise %}
            {% owner %}
            {% supporter %}
            <span class="label label-success">You support this.</span>
            {% nothing %}
            <p><a title="Support it" class="btn" href="{% url support promise.id %}"><i class="icon-heart"></i> Support promise</a></p>
            {% enduserpromise %}

            {% social promise user.profile %}
        </div>
    </li>
{% endfor %}
</ul>
