<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head_before %}
        {% endblock %}

        <title>Make Promises, get Supporters | Promise.ly</title>
        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" />
        <link href="http://fonts.googleapis.com/css?family=Courgette|Bad+Script" rel="stylesheet" type="text/css"/>

        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon/favicon.png" />

        {% block head_after %}
        {% endblock %}
    </head>

    <body class="{% block body_classes %}{% endblock %}">
        {% block body_before %}
        {% endblock %}

        <div class="container">
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" title="goto Promise.ly home page" href="{% url home %}">Promise.ly</a>

                        <div class="nav-collapse pull-right">
                            <ul class="nav">
                                {% if user.is_authenticated %}
                                <li class="nav-user-avatar">
                                    <img
                                       src="{{ user.profile.avatar_square }}"
                                       alt="{{ user.profile.name }}">
                                </li>
                                {% endif %}
                                <li>
                                    <a title="Home" href="{% url home %}">Home</a>
                                </li>
                                <li>
                                    {% if user.is_anonymous %}
                                    <a title="Login" href="{% url login %}">Login</a>
                                    {% else %}
                                    <a title="Logout" href="{% url logout %}">Logout</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            {% block content %}
            {% endblock %}

            <div class="row">
                <footer class="footer">
                    <p>© Promisely. Made with <strong>♥</strong> for <a title="django dash" href="http://djangodash.com/" target="_blank">django dash</a> 2012.</p>
                </footer>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.4/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/main.js"></script>

        {% block body_after %}
        {% endblock %}
    </body>
</html>

