<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head_before %}
        {% endblock %}

        <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon/favicon.png" />

        {% block head_after %}
        {% endblock %}
    </head>

    <body class="{% block body_classes %}{% endblock %}">
        {% block body_before %}
        {% endblock %}

        <div class="container">
            {% block content %}
            {% endblock %}

            <footer class="footer">
                <p>© Promisely. Made with <strong>♥</strong> for <a title="django dash" href="http://djangodash.com/">django dash</a>.</p>
            </footer>
        </div>

        {% block body_after %}
        {% endblock %}
    </body>
</html>

