{% extends "base.html" %}

{% block content %}

    <div class="page-header">
        <h1>Promise.ly</h1>
    </div>

    <form class="well form-search" method="POST" action="{% url new_promise %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Promise!</button>
    </form>

{% for promise in promises %}
    <div style="margin-bottom:10px">{{ promise.creator }} promised "{{promise.text}}".</p>
        Deadline: {{ promise.deadline }}, supporters ({{promise.supporter_count}}): {{promise.supporters}} </div>
        {% if promise.id in already_supporting %}
        <h3>You support this.</h3>
        {% else %}
        <a href="{% url support promise.id user.profile.id %}"><button>Support</button></a>
        {% endif %}
{% endfor %}

{% endblock %}
