{% extends "base.html" %}
{% load htmlattributes %}
{% load social %}
{% load promise %}

{% block body_classes %}t-home{% endblock %}

{% block content %}

    <p class="header-message">Make a promise. Get support from your friends.</p>

    <form class="promise-form well form-search control-group" method="POST" action="{% url new_promise %}">
        {% csrf_token %}


        {{ form.promise_text|htmlattributes:'class="visible-promise-input input-jumbo" placeholder="I\'ll lose 2 pounds in the next two weeks."' }}

        <button type="submit" class="btn btn-primary btn-large promise-button">I Promise!</button>
        <span class="promise-form-help-text">we will never post on your behalf without asking for yout permission first.</span>
    </form>

    {% if promises %}
      {% if user.is_authenticated %}
        <div class="row">
            <ul class="nav nav-pills feed-tabs pull-right">
                <li class="loader"></li>
                <li><a class="default" href="{% url home %}">All</a></li>
                <li><a href="{% url home %}?f=my-friends">My friends' promises</a></li>
                <li><a href="{% url home %}?f=my-promises">My promises</a></li>
                <li><a href="{% url home %}?f=supported-by-me">Supported by me</a></li>
            </ul>
        </div>
      {% endif %}

    <div id="promise-feed-content" class="promise-feed-content">
        {% include "ajax_home.html" %}
    </div>
    {% endif %}

      <div id="promise-modal" class="modal hide fade">
        <form method="POST" action="{% url new_promise %}">
            {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3>We believe in you! You're going to make it!</h3>
            </div>
            <div class="modal-body">
              <h4>Set a deadline</h4>

              <div class="hide">
              {{ form.promise_text|htmlattributes:'class="invisible-promise-input"' }}
              </div>
              {{ form.duration_value|htmlattributes:'class="span1"' }}
              {{ form.duration_unit|htmlattributes:'class="span2"' }}

              <hr>

              <h4>Share on facebook</h4>
              <label>{{ form.facebook_share }} Share promise with my friends</label>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Make the promise!</button>
            </div>
        </form>
      </div>

{% endblock %}
