{% extends "base.html" %}
{% load htmlattributes %}
{% load social %}

{% block content %}

    <div class="page-header">
        <h1>Promise.ly</h1>
    </div>

    <form class="well form-search" method="POST" action="{% url new_promise %}">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.text|htmlattributes:'class="input-jumbo" placeholder="I\'ll lose 2 pounds by next week."' }}

        <div class="hide">
        {{ form.deadline }}
        </div>

        <button type="button" class="btn btn-primary btn-large promise-button">I Promise!</button>
    </form>

    {% if promises %}
    <ul class="unstyled">
    {% for promise in promises %}
        <li class="promise">
            <div class="promise-image">
                <img src="{{ promise.creator.avatar }}" alt="Avatar from {{ promise.creator }}" />
            </div>

            <div class="promise-content">
                <p><strong>{{ promise.creator }}</strong> promised:</p>
                <blockquote><a href="{% url promise promise.slug %}">{{ promise.text }}</a></blockquote>
                <p><strong><i class="icon-time"></i> Deadline:</strong> {{ promise.deadline|timeuntil }}</p>

                {% if promise.supporter_count %}

                <p><strong>Supporters ({{ promise.supporter_count }}):</strong> {{ promise.supporters|truncatewords:20 }}</p>
                {% endif %}
                {% if promise.id not in my_promises %}
                    {% if promise.id not in already_supporting %}
                        <p><a title="Support it" class="btn" href="{% url support promise.id user.profile.id %}">Support promise</a></p>
                    {% else %}
                    <span class="label label-success">You support this.</span>
                    {% endif %}
                {% else %}
                    Share your promise!
                {% endif %}

                {% social promise %}
            </div>
        </li>
    {% endfor %}
    </ul>
    {% endif %}

      <div id="promise-modal" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3>We believe in you! You're going to make it!</h3>
        </div>
        <div class="modal-body">
          <h4>Set a deadline</h4>

          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>
          <hr>
          <h4>Share with friends</h4>
          <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a> should have tooltips on hover.</p>

        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-primary">Make that promise!</a>
        </div>
      </div>

{% endblock %}
