{% extends 'base.html' %}
{% load social %}
{% load promise %}

{% block head_before %}
<meta property="fb:app_id" content="{{ app_id }}">
<meta property="og:title" content="Support {{promise.creator}}">
<meta property="og:type" content="article">
<meta property="og:image" content="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211306_1104390006_3470883_n.jpg">
<meta property="og:url" content="{{ promise.get_absolute_url }}">
{% endblock %}

{% block body_classes %}t-promise{% endblock %}

{% block body_before %}
{% fb %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="span3">
    <div class="avatarbox">
      <img alt="{{ promise.creator.name }}" src="{{ promise.creator.avatar }}">
    </div>
    <div class="supporters">

      <div class="supportit">
        {% userpromise promise %}
          {% owner %}
          {% supporter %}
          <div class="label label-success first">supported by you</div>
          {% nothing %}
          <a href="{% url support promise.id %}"
             title="Support this promise" class="btn first">
            <i class="icon-heart"></i>
            Support this promise
          </a>
        {% enduserpromise %}
      </div>

      {% if promise.supporter.count %}
      <h4>{{ promise.supporter.count }} Supporters</h4>
      <ul class="unstyled">
        {% for supporter in promise.supporter.all %}
        <li>
          <a href="#" title="{{ supporter.name }}">
            <img src="{{ supporter.avatar_square }}" alt="{{ supporter.name }}"/>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>
  </div>
  <div class="span9">
    <div class="promiseinfo unstyled">
      <blockquote class="text">{{ promise.text }}</blockquote>

      <p><i class="icon-user"></i> {{ promise.creator }}</p>
      {% if not promise.active %}
        {% if promise.success %}
        <span class="label label-success">succeeded</span>
        {% else %}
        <span class="label label-important">didn't achieve it</span>
        {% endif %}
      {% else %}
      <p><i class="icon-time"></i> {{ promise.deadline|timeuntil }} left</p>
      {% endif %}
    </div>

    {% social promise user.profile %}

    {% if promise.active %}
       {% userpromise promise %}
          {% owner %}
          <p><h4>Did you already achieve your promise?</h4></p>
          <div class="first">
            <a href="{% url validate_promise promise.slug 2 %}" class="btn btn-primary">Succeeded</a>
            <a href="{% url validate_promise promise.slug 3 %}" class="btn">Didn't make it this time!</a>
          </div>
          {% supporter %}
          {% nothing %}
        {% enduserpromise %}
    {% endif %}

    <div class="followup">
      <h4>Leave a supportive comment and find out how the promise is going!</h4>
      <div class="fb-comments" data-href="{{ promise.get_absolute_url }}" data-num-posts="4" data-width="470"></div>
    </div>

</div>

{% endblock %}
