{% extends 'base.html' %}
{% load social %}

{% block head_before %}
<meta property="fb:app_id" content="{{ app_id }}">
<meta property="og:title" content="Support {{promise.creator}}">
<meta property="og:type" content="article">
<meta property="og:image" content="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc4/211306_1104390006_3470883_n.jpg">
<meta property="og:url" content="{{ promise.get_absolute_url }}">
{% endblock %}

{% block body_before %}
{% fb %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="span3">
    <div class="avatarbox">
      <img alt="{{ promise.creator.name }}" src="{{ promise.creator.avatar }}">
    </div>
    <div class="supporters">

      <div class="supportit">
        {% if promise.id not in my_promises %}
          {% if promise.id not in already_supporting %}
          <a href="{% url support promise.id user.profile.id %}"
             title="Support this promise" class="btn first">
            <i class="icon-heart"></i> 
            Support this promise
          </a>
          {% else %}
          <div class="label label-success first">You support this.</div>
          {% endif %}
        {% else %}
          <div class="first">Share your promise!</div>
        {% endif %}
      </div>

      {% if promise.supporter.count %}
      <h4>{{ promise.supporter.count }} Supporters</h4>
      <ul class="unstyled">
        {% for supporter in promise.supporter.all %}
        <li>
          <a href="#" title="{{ supporter.name }}">
            <img src="{{ supporter.avatar_square }}" alt="{{ supporter.name }}"/>
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}

    </div>
  </div>
  <div class="span9">
    <div class="promiseinfo unstyled">
      <blockquote class="text">{{ promise.text }}</blockquote>
      <p><i class="icon-user"></i> {{ promise.creator }}</p>
      <p><i class="icon-time"></i> {{ promise.deadline|timeuntil }} left</p>
    </div>

    {% social promise user.profile %}
  </div>

</div>

<div class="followup">
  <h4>Want to follow up this promise?</h4>
  <div class="fb-comments" data-href="{{ promise.get_absolute_url }}" data-num-posts="4" data-width="470"></div>
</div>

{% endblock %}
