{% load static %}

<div class="share-navbar btn-group pull-right">
   <a class="share-navbar-link"
      title="Share promise to your friends on Facebook"
      href="https://www.facebook.com/dialog/feed?app_id={{ app_id }}&link={{ link }}&picture={{ app_icon }}&name={{ post_title }}&caption={{ post_caption }}&description={{ post_description }}&redirect_uri={{ redirect_url }}"
      target="_blank">
      <img src="{% get_static_prefix %}img/facebook_x2.png" alt="Facebook's logo" />
   </a>
   <a class="share-navbar-link"
      title="Share promise to your friends on Twitter"
      href="http://twitter.com/?status={{ post_title }}: {{ post_description }} {{ link }}"
      target="_blank">
      <img src="{% get_static_prefix %}img/twitter_x2.png" alt="Twitter's logo" />
   </a>
</div>
